class ENV {
  // firebase credentials
  static const String FIREBASE_WEB_API_KEY = '';
  static const String FIREBASE_WEB_APP_KEY = '';

  static const String FIREBASE_ANDROID_API_KEY = '';
  static const String FIREBASE_ANDROID_APP_KEY = '';


  static const String FIREBASE_IOS_API_KEY = '';
  static const String FIREBASE_IOS_APP_KEY = '';


  static const String FIREBASE_MACOS_API_KEY = '';
  static const String FIREBASE_MACOS_APP_KEY = '';

}